<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:text="${reportName}"></title>
<head th:replace="/layout/bootstrap :: bootstrapHead" />
<script th:src="@{/js/excellentexport.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/jquery.jqprint-0.3.js}"></script>
<style>
	.edit{width:50px}
	table{
		border:1px solid #ccc !important;
	}
	table tr{
		border:1px solid #ccc !important;
	}
	table td{
		border:1px solid #ccc !important;
		vertical-align: middle !important;
	}
	table th{
		border:1px solid #ccc !important;
	}
	table caption{
		border:none !important;
	}
</style>
<script>
	var id = "[[${model.id}]]";
	var name = "[[${model.name}]]";
	var state = "[[${model.state}]]"
	
	//审核
	function audit(id, flag) {
		$.ajax({
			dataType : 'json',
			method : 'post',
			contentType : 'application/x-www-form-urlencoded',
			url : "[[@{/handlingProblem/audit}]]",
			data : {
				'id' : id,
				'flag' : flag
			},
			success : function(obj) {
				alert(obj.msg);
				if (obj.success)
					window.location = window.location;
			},
			error : function() {
				alert('no');
			}
		});
	}
	
	$(function() {
		$('.find').show();
		$('.find').css("visibility", "visible");
		$('.edit').hide();
		$('.edit').css("visibility", "hidden");

		$("#btnEdit").bind('click', function() {
			$('.find').hide();
			$('.find').css("visibility", "hidden");
			$('.edit').show();
			$('.edit').css("visibility", "visible");
		});

		$("#btnSave").bind('click', function() {
			$.ajax({
				dataType : 'json',
				method : 'post',
				contentType : 'application/x-www-form-urlencoded',
				url : "[[@{/handlingProblem/save}]]",
				data : $('#f1').serialize(),
				success : function(obj) {
					alert(obj.msg);
					if (obj.success) {
						window.location = window.location;
						$('.find').css("visibility", "visible");
						$('.edit').css("visibility", "hidden");
					}

				},
				error : function() {
					alert('保存失败');
				}
			});

		});
		
		//提交
		$('#btnSubmit').bind('click', function() {
			var result = confirm('将要提交<' + name + '>是否继续?提交后将不能编辑');
			if (!result)
				return;

			$.ajax({
				dataType : 'json',
				method : 'post',
				contentType : 'application/x-www-form-urlencoded',
				url : "[[@{/handlingProblem/submit}]]",
				data : {
					'id' : id,
				},
				success : function(obj) {
					alert(obj.msg);
					if (obj.success)
						window.location = window.location;
				}
			});

		});
		
		//审核通过
		$('#flag1').bind('click', function() {
			audit(id, '1');
		});

		//审核不通过
		$('#flag0').bind('click', function() {
			audit(id, '0');
		});
		
		//打印
		$('#btnPrint').bind('click', function() {
			if(state != 2){
				alert("当前报表状态不允许打印，报表为通过状态下才能打印!");
				return false;
			}
			$("#tables").jqprint();
		});

	});
</script>
</head>
<body>
<body>
	<div class="container" style="width:100%">
		<div th:replace="/layout/menu :: copy"></div>
		<div class="jumbotron"
			style="background: #F8F8FF; border: 1px solid #F5F5F5;color:#666;height:140px">
			<h3 th:text="'报表：'+${reportName}" style="margin-top:-14px;margin-left:-35px">2017年度人员情况统计表</h3>
			<h3 th:switch="${model.state}" style="margin-left:-35px">状态：
				<span style="color:red" th:case="0">编辑</span>
				<span style="color:red" th:case="1">待审核</span>
				<span style="color:red" th:case="2">通过</span>
				<span style="color:red" th:case="3">不通过</span>
			</h3>
		</div>
		<div class="panel" th:switch="${model.state}">
			<button th:case="0" th:if="${session.currentUser.type} == 1" type="button"
				class="btn btn-primary" data-toggle="modal" id="btnEdit">
				<span class="glyphicon glyphicon-pencil"></span> 编辑
			</button>
			
			<button th:case="3" th:if="${session.currentUser.type} == 1" type="button"
				class="btn btn-primary" data-toggle="modal" id="btnEdit">
				<span class="glyphicon glyphicon-pencil"></span> 编辑
			</button>
			
			<button th:case="2" th:if="${session.currentUser.type} == 1" type="button"
				class="btn btn-primary" data-toggle="modal" onclick="alert('当前状态不允许编辑')">
				<span class="glyphicon glyphicon-pencil"></span> 编辑
			</button>
			
			<button th:case="1" th:if="${session.currentUser.type} == 1" type="button"
				class="btn btn-primary" data-toggle="modal" onclick="alert('当前状态不允许编辑')">
				<span class="glyphicon glyphicon-pencil"></span> 编辑
			</button>
			<button th:if="${session.currentUser.type} == 1" type="button"
				class="btn btn-primary" data-toggle="modal" id="btnSave">
				<span class="glyphicon glyphicon-send"></span> 保存
			</button>
			<button th:if="${session.currentUser.type} == 1" type="button"
				class="btn btn-primary" data-toggle="modal" id="btnSubmit">
				<span class="glyphicon glyphicon-send"></span> 提交
			</button>
			<div class="btn-group">
				<button th:if="${session.currentUser.type} == 2" type="button"
					class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-th-large"></span> 审核
				</button>
				<ul class="dropdown-menu" role="menu">
					<li id='flag1'><a href="javascript:void(0)">通过</a></li>
					<li class="divider"></li>
					<li id='flag0'><a href="javascript:void(0)">不通过</a></li>
				</ul>
			</div>
			<span th:switch="${model.state}">
				<a th:case="2" href="javascript:void(0)"
				th:if="${session.currentUser.type} == 2" role="button"
				class="btn btn-primary" th:download="${model.name}"
				onclick="return ExcellentExport.excel(this, 'datatable','Sheet Name Here')">
				<span class="glyphicon glyphicon-folder-open"></span> 导出
				</a>
				<button th:case="1" onclick="alert('不能导出未通过的报表')"
					th:if="${session.currentUser.type} == 2" type="button"
					class="btn btn-primary" data-toggle="modal">
					<span class="glyphicon glyphicon-folder-open"></span> 导出
				</button>
				<button th:case="3" onclick="alert('不能导出未通过的报表')"
					th:if="${session.currentUser.type} == 2" type="button"
					class="btn btn-primary" data-toggle="modal">
					<span class="glyphicon glyphicon-folder-open"></span> 导出
				</button>
			</span>

			<button th:if="${session.currentUser.type} == 2" type="button"
				class="btn btn-primary" data-toggle="modal" id="btnPrint">
				<span class="glyphicon glyphicon-print"></span> 打印
			</button>
		</div>
		<div class="panel panel-default" style="border:none" id="tables">
		  <div class="table-responsive">
			<table class="table table-bordered" id="datatable">
			<caption><h3 style="text-align:center;color:#333">审计发现问题处理情况统计表</h3>
			<span style="float:left" th:text="'填报单位：'+${session.cfg.dptName}"></span>
					<span style="float:right" th:text="'填报时间：'+${#dates.format(model.sumbitDate,'yyyy-MM-dd')}"></span>
			</caption>
				<form id="f1" name="f1" method="POST">
				<input th:if="${session.currentUser.type} == 1" style="width:50px" type="hidden" name="id" th:value="${model.id}">
				<tr>
					<td style="text-align: center;">序号</td>
					<td colspan="3" style="text-align: center;">1</td>
					<td colspan="1" style="text-align: center;">2</td>
					<td colspan="2" style="text-align: center;">3</td>
					<td colspan="1" style="text-align: center;">4</td>
					<td colspan="1" style="text-align: center;">5</td>
					<td colspan="1" style="text-align: center;">6</td>
				</tr>
				<tr>
					<td rowspan="2" style="text-align: center;">单位层级</th>
					<td colspan="3" style="text-align: center;">审计发现问题</th>
					<td rowspan="2" style="text-align: center;">通报批评或训勉谈话人数</th>
					<td colspan="2" style="text-align: center;">给予经济处罚</th>
					<td rowspan="2" style="text-align: center;">建议给予行政处分人数</th>
					<td rowspan="2" style="text-align: center;">移交纪检监察部门查处人数</th>
					<td rowspan="2" style="text-align: center;">移送司法机关人数</th>
				</tr>
				<tr>
					<td style="text-align: center;">直接责任人数</th>
					<td style="text-align: center;">主管责任人数</th>
					<td style="text-align: center;">领导责任人数</th>
					<td style="text-align: center;">人数</th>
					<td style="text-align: center;">金额(万元)</th>
				</tr>
				<tr>
					<td style="text-align: center;">上海总部</th>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td1}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td1" style="width: 50px" type="number" 
						th:value="${model.td1}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td2}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td2" style="width: 50px" type="number" 
						th:value="${model.td2}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td3}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td3" style="width: 50px" type="number" 
						th:value="${model.td3}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td4}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td4" style="width: 50px" type="number" 
						th:value="${model.td4}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td5}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td5" style="width: 50px" type="number" 
						th:value="${model.td5}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td6}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td6" style="width: 50px" type="number" 
						th:value="${model.td6}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td7}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td7" style="width: 50px" type="number" 
						th:value="${model.td7}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td8}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td8" style="width: 50px" type="number" 
						th:value="${model.td8}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td9}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td9" style="width: 50px" type="number" 
						th:value="${model.td9}">
					</td>	
				</tr>
				<tr>
					<td style="text-align: center;">省会中支</th>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td10}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td10" style="width: 50px" type="number" 
						th:value="${model.td10}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td11}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td11" style="width: 50px" type="number" 
						th:value="${model.td11}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td12}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td12" style="width: 50px" type="number" 
						th:value="${model.td12}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td13}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td13" style="width: 50px" type="number" 
						th:value="${model.td13}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td14}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td14" style="width: 50px" type="number" 
						th:value="${model.td14}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td15}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td15" style="width: 50px" type="number" 
						th:value="${model.td15}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td16}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td16" style="width: 50px" type="number" 
						th:value="${model.td16}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td17}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td17" style="width: 50px" type="number" 
						th:value="${model.td17}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td18}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td18" style="width: 50px" type="number" 
						th:value="${model.td18}">
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">地市中支</th>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td19}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td19" style="width: 50px" type="number" 
						th:value="${model.td19}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td20}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td20" style="width: 50px" type="number" 
						th:value="${model.td20}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td21}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td21" style="width: 50px" type="number" 
						th:value="${model.td21}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td22}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td22" style="width: 50px" type="number" 
						th:value="${model.td22}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td23}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td23" style="width: 50px" type="number" 
						th:value="${model.td23}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td24}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td24" style="width: 50px" type="number" 
						th:value="${model.td24}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td25}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td25" style="width: 50px" type="number" 
						th:value="${model.td25}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td26}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td26" style="width: 50px" type="number" 
						th:value="${model.td26}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td27}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td27" style="width: 50px" type="number" 
						th:value="${model.td27}">
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">县支行</th>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td28}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td28" style="width: 50px" type="number" 
						th:value="${model.td28}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td29}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td29" style="width: 50px" type="number" 
						th:value="${model.td29}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td30}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td30" style="width: 50px" type="number" 
						th:value="${model.td30}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td31}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td31" style="width: 50px" type="number" 
						th:value="${model.td31}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td32}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td32" style="width: 50px" type="number" 
						th:value="${model.td32}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td33}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td33" style="width: 50px" type="number" 
						th:value="${model.td33}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td34}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td34" style="width: 50px" type="number" 
						th:value="${model.td34}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td35}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td35" style="width: 50px" type="number" 
						th:value="${model.td35}">
					</td>
					<td style="text-align: center;">
						<span class="find" th:text="${model.td36}"></span>
						<input th:if="${session.currentUser.type} == 1" class="edit" name="td36" style="width: 50px" type="number" 
						th:value="${model.td36}">
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">合计</td>
					<th:block th:each="userStat:${countList}">
						<td style="text-align: center;" ><span th:text="${userStat==0?'':userStat}"></span></td>
					</th:block>
				</tr>
				
			 </form>
			</table>
		   </div>
		    <div class="panel panel-default" style="font-size:15px;margin-top:5px;border:none;color:red;" id="pagebar">
		    	 <p><span style="margin-left:0px">填表说明：审计处理情况均按被审计对象所属层级进行填列。</span></p>
		    </div>
		</div>
		<div th:replace="/layout/bootstrap :: bottom" />
	</div>

	<!-- /container -->
	<body th:replace="/layout/bootstrap :: bootstrapJs" />
<div th:replace="/layout/sets :: copy1"></div>
<div th:replace="/layout/sets :: copy2"></div>
<div th:replace="/layout/sets :: copy3"></div>
<script th:replace="/layout/sets :: copy4"></script>
</body>
</html>