<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/layui/jquery-2.1.0.min.js" th:src="@{/static/layui/jquery-2.1.0.min.js}"></script>
    <script src="/static/layui/layui.js" th:src="@{/static/layui/layui.js}"></script>
    <link href="/static/layui/css/layui.css" rel="stylesheet" th:href="@{/static/layui/css/layui.css}"/>
</head>
<style>
    .buju{
        display: flex;
        flex-direction: row;
    }
</style>
<script>
    $(function(){
//            getChun();
        //用来判断
        var isShow = false;
        var isShow2 = false;
        $("#ChaXunMianBan").hide();
        //查询按钮点击事件
        $("#tongJiMianBan").hide();
        $("#chaxun").click(function(){
            isShow = !isShow;
            if(isShow){
                $("#ChaXunMianBan").show();
            }else{
                $("#ChaXunMianBan").hide();
            }
        });
        //统计按钮
        $("#tongji").click(function(){
            isShow2=!isShow2;
            if(isShow2){
                $("#tongJiMianBan").show();
            }else{
                $("#tongJiMianBan").hide();
            }
        });
        //查询按钮点击事件
        $("#dc").click(function(){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    area: ['90%', '90%'],
                    anim: 6,
                    type: 2,
                    title:"请选择需要导出的字段",
                    fixed:false,
                    //resize:false,
                    scrollbar:false,
//                    move:false,
                    moveOut:true,
                    content:'/fpxexd/gotoFpxexdFields'//$("#tanchu").html() //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    ,btn: ['取消']
                    ,yes: function(index, layero){
                        layer.closeAll();
                    },
                    zIndex: layer.zIndex, //重点1
                    success: function(layero){
                        layer.setTop(layero); //重点2
                    }
                });
            });
        });
        //查询按钮点击事件
        $("#danTiaoLuRu").click(function(){
            layui.use('layer', function(){
                var layer = layui.layer;
                layer.open({
                    area: ['90%', '90%'],
                    anim: 6,
                    type: 2,
                    title:"请选择需要录入的字段",
                    fixed:false,
                    //resize:false,
                    scrollbar:false,
//                    move:false,
                    moveOut:true,
                    content:'/fpxexd/gotoFpxexdFields?cz=dtlr'//$("#tanchu").html() //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                    ,btn: ['取消']
                    ,yes: function(index, layero){
                        layer.closeAll();
                    },
                    zIndex: layer.zIndex, //重点1
                    success: function(layero){
                        layer.setTop(layero); //重点2
                    }
                });
            });
        });
        //批量录入样式表格下载
        $("#demo").click(function(){
            alert("xx");
            $.ajax({
                url:'/fpxexd/demoExportFpxexd',
                method:'get',
                success:function (data) {
                    alert("下载成功");
                }
            })
        })
    })
</script>
<body>
    <div class="layui-fluid">
    <div class="layui-row">
        <!--工具栏-->
        <div class="layui-card" style="height:50px;margin-top:10px;">
            <button class="layui-btn" id="chaxun">查询</button>
            <button class="layui-btn" id="tongji">统计</button>
            <button class="layui-btn layui-btn-danger" id="danTiaoLuRu">单条录入</button>
            <a href="/fpxexd/uploadExcel" th:href="@{/fpxexd/uploadExcel}" class="layui-btn layui-btn-danger">批量录入</a>
            <a href="/fpxexd/demoExportFpxexd" th:href="@{/fpxexd/demoExportFpxexd}" class="layui-btn layui-btn-danger">批量录入样式表格下载</a>
            <a href="/fpxexd/daoChuAll" th:href="@{/fpxexd/daoChuAll}" class="layui-btn layui-btn-normal">导出全部数据</a>
            <!--<button href="#" class="layui-btn">未知1</button>-->
            <!--<button href="#" class="layui-btn">未知2</button>-->
            <!--<button href="#" class="layui-btn">未知3</button>-->
        </div>
        <div class="layui-card" id="ChaXunMianBan">
            <form class="layui-form" id="#myform">
                <!--乡镇，村，社，姓名-->
                <div class="layui-form-item">
                    <div class="layui-inline buju">
                        <div>
                            <label class="layui-form-label">乡镇</label>
                            <div class="layui-input-block">
                                <input type="text" name="xiang" placeholder="请输入查询的乡镇" autocomplete="off" class="layui-input" style="width: 200px;">
                            </div>
                        </div>
                        <div>
                            <label class="layui-form-label">村</label>
                            <div class="layui-input-block">
                                <input type="text" name="chun" placeholder="请输入查询的村组" autocomplete="off" class="layui-input" style="width: 200px;">
                            </div>
                        </div>
                        <div>
                            <label class="layui-form-label">身份证号</label>
                            <div class="layui-input-block">
                                <input type="text" name="cardId" placeholder="请输入查询的身份证" autocomplete="off" class="layui-input" style="width: 200px;">
                            </div>
                        </div>
                        <div>
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" placeholder="请输入查询的身份证" autocomplete="off" class="layui-input" style="width: 200px;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="tj">查询</button>
                        <button type="button" class="layui-btn layui-bg-blue" id="dc">导出</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--统计面板-->
     <div class="layui-row" id="tongJiMianBan">
         <form action="/fpxexd/statistical" method="post">
             <div class="layui-inline">
                 <label class="layui-form-label">开始时间:</label>
                 <div class="layui-input-inline">
                     <input type="date" name="beginDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                 </div>
             </div>
             <div class="layui-inline">
                 <label class="layui-form-label">结束时间:</label>
                 <div class="layui-input-inline">
                     <input type="date" name="endDate" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                 </div>
             </div>
            <input type="submit" value="统计" class="layui-btn layui-btn-danger">
         </form>
     </div>
    <table class="layui-table" lay-size="sm" lay-data="{url:'/fpxexd/fpxexd',cellMinWidth:200,page:true,id:'mytable'}" lay-filter="mytable">
        <thead>
        <tr>
            <th colspan="76">朝天区扶贫小额信贷台账</th>
        </tr>
        <tr>
            <th lay-data="{align:'center'}" colspan="11">基本情况</th>
            <th lay-data="{align:'center'}" colspan="6">原贷款情况</th>
            <th lay-data="{align:'center'}" colspan="20">扶贫小额信贷</th>
            <th lay-data="{align:'center'}" colspan="13">创业贷款</th>
            <th lay-data="{align:'center'}" colspan="12">生源地贷款</th>
            <th lay-data="{align:'center'}" colspan="14">其他类型贷款</th>
        </tr>
        <tr>
            <th lay-data="{field:'no',align:'center',style:'background-color: #5FB878;font-size:18px;'}" colspan="1">序号</th>
            <th lay-data="{field:'xiang',align:'center'}" colspan="1">乡（镇）</th>
            <th lay-data="{field:'chun',align:'center'}" colspan="1">行政村</th>
            <th lay-data="{field:'zu',align:'center'}" colspan="1">组别</th>
            <th lay-data="{field:'name',align:'center'}" colspan="1">户主姓名</th>
            <th lay-data="{field:'cardId',align:'center'}" colspan="1">身份证号</th>
            <th lay-data="{field:'members',align:'center'}" colspan="1">家庭人口数</th>
            <th lay-data="{field:'daiKuanRenXingMing',align:'center'}" colspan="1">贷款人姓名</th>
            <th lay-data="{field:'daiKuanRenCardId',align:'center'}" colspan="1">贷款人身份证号</th>
            <th lay-data="{field:'familyRelation',align:'center'}" colspan="1">与户主关系</th>
            <th lay-data="{field:'tuoPinState',align:'center'}" colspan="1">脱贫属性</th>

            <th lay-data="{field:'yuanYouYuE',align:'center'}" colspan="1">原有余额</th>
            <th lay-data="{field:'yuanYouIsYuQi',align:'center'}" colspan="1">原有贷款贷款是否逾期</th>
            <th lay-data="{field:'yuanYouYuQiJinE',align:'center'}" colspan="1">逾期金额</th>
            <th lay-data="{field:'yuanYouYuQiShiJian',align:'center'}" colspan="1">逾期时间</th>
            <th lay-data="{field:'yuanYouQianXiJinE',align:'center'}" colspan="1">欠息金额</th>
            <th lay-data="{field:'yuanYouQianXiShiJian',align:'center'}" colspan="1">欠息时间</th>

            <th lay-data="{field:'fuPingivenStars',align:'center'}" colspan="1">等级评定</th>
            <th lay-data="{field:'fuPinshouXinEDu',align:'center'}" colspan="1">授信额度</th>
            <th lay-data="{field:'fuPinshouXinJiGou',align:'center'}" colspan="1">授信金融机构</th>
            <th lay-data="{field:'fuPinshouxinData',align:'center'}" colspan="1">授信时间</th>
            <th lay-data="{field:'fuPinXiaoDaidaiKuanJinE',align:'center'}" colspan="1">贷款金额</th>
            <th lay-data="{field:'fuPindaiKuanQiXian',align:'center'}" colspan="1">贷款期限</th>
            <th lay-data="{field:'fuPinfangKuanRiQi',align:'center'}" colspan="1">放款日期</th>
            <th lay-data="{field:'fuPindaoQiRiQi',align:'center'}" colspan="1">到期日期</th>
            <th lay-data="{field:'fuPinXiaoDaiDaiKuanLiLv',align:'center'}" colspan="1">贷款利率</th>
            <th lay-data="{field:'fuPindaiKuanJiGou',align:'center'}" colspan="1">贷款金融机构</th>
            <th lay-data="{field:'fuPinleiJiTieXi',align:'center'}" colspan="1">累计贴 息金额(元)</th>
            <th lay-data="{field:'fuPinchangHuanDaiKuanJInE',align:'center'}" colspan="1">偿还贷款金额</th>
            <th lay-data="{field:'fuPinhuanKuanShiJian',align:'center'}" colspan="1">还款时间</th>
            <th lay-data="{field:'fuPindaiKuanYuE',align:'center'}" colspan="1">贷款余额（万元）</th>
            <th lay-data="{field:'fuPinyuQiDaiKuanJinE',align:'center'}" colspan="1">逾期贷款金额</th>
            <th lay-data="{field:'fuPinyuQiDaiKuanShiJian',align:'center'}" colspan="1">贷款逾期时间</th>
            <th lay-data="{field:'fuPinqianXiJinE',align:'center'}" colspan="1">欠息金额(元)</th>
            <th lay-data="{field:'fuPinqianXiShiJian',align:'center'}" colspan="1">欠息时间</th>
            <th lay-data="{field:'fuPinYingDaiWeiDaiShiBie',align:'center'}" colspan="1">应贷未贷识别</th>
            <th lay-data="{field:'fuPinDaiKuanYongTu',align:'center'}" colspan="1">贷款用途</th>

            <th lay-data="{field:'chuangYeJinE',align:'center'}" colspan="1">贷款金额</th>
            <th lay-data="{field:'chuangYeQiXian',align:'center'}" colspan="1">贷款期限</th>
            <th lay-data="{field:'chuangYeFangKuanRiQi',align:'center'}" colspan="1">放款日期</th>
            <th lay-data="{field:'chuangYeDaoQiShiJian',align:'center'}" colspan="1">到期日期</th>
            <th lay-data="{field:'chuangYeLiLv',align:'center'}" colspan="1">贷款利率</th>
            <th lay-data="{field:'chuangYeChangHuanJinE',align:'center'}" colspan="1">偿还金额</th>
            <th lay-data="{field:'changYeHuangKuanShiJian',align:'center'}" colspan="1">还款时间</th>
            <th lay-data="{field:'chuangYeYuE',align:'center'}" colspan="1">贷款余额（万元）</th>
            <th lay-data="{field:'chuangYeYuQiJinE',align:'center'}" colspan="1">逾期贷款金额</th>
            <th lay-data="{field:'chuangYeYuQiShiJian',align:'center'}" colspan="1">贷款逾期时间</th>
            <th lay-data="{field:'chuangYeQianXiJinE',align:'center'}" colspan="1">欠息金额(元)</th>
            <th lay-data="{field:'chuangYeQianXiShiJian',align:'center'}" colspan="1">欠息时间</th>
            <th lay-data="{field:'chuangYeYongTu',align:'center'}" colspan="1">贷款用途</th>

            <th lay-data="{field:'shengYuanJinE',align:'center'}" colspan="1">贷款金额</th>
            <th lay-data="{field:'shengYuanQiXian',align:'center'}" colspan="1">贷款期限</th>
            <th lay-data="{field:'shengYuanFangKuanRiQi',align:'center'}" colspan="1">放款日期</th>
            <th lay-data="{field:'shengYaunDaoQiRiQi',align:'center'}" colspan="1">到期日期</th>
            <th lay-data="{field:'shengYaunLiLv',align:'center'}" colspan="1">贷款利率</th>
            <th lay-data="{field:'shengYaunChangHuanJinE',align:'center'}" colspan="1">偿还金额</th>
            <th lay-data="{field:'shengYuanHuanKuanShiJian',align:'center'}" colspan="1">还款时间</th>
            <th lay-data="{field:'shengYuanYuE',align:'center'}" colspan="1">贷款余额（万元）</th>
            <th lay-data="{field:'shengYuanYuQiJinE',align:'center'}" colspan="1">逾期贷款金额</th>
            <th lay-data="{field:'shengYuanYuQiShiJian',align:'center'}" colspan="1">贷款逾期时间</th>
            <th lay-data="{field:'shengYuanQianXiJinE',align:'center'}" colspan="1">欠息金额(元)</th>
            <th lay-data="{field:'shengYuanQianXiShiJian',align:'center'}" colspan="1">欠息时间</th>

            <th lay-data="{field:'qiTaJinE',align:'center'}" colspan="1">贷款金额</th>
            <th lay-data="{field:'qiTaQiXian',align:'center'}" colspan="1">贷款期限</th>
            <th lay-data="{field:'qiTaFangKuanRiQi',align:'center'}" colspan="1">放款日期</th>
            <th lay-data="{field:'qiTaDaoQiRiQi',align:'center'}" colspan="1">到期日期</th>
            <th lay-data="{field:'qiTaLiLv',align:'center'}" colspan="1">贷款利率</th>
            <th lay-data="{field:'qiTaChangHuanJinE',align:'center'}" colspan="1">偿还金额</th>
            <th lay-data="{field:'qiTaChangHuangKuanShiJian',align:'center'}" colspan="1">还款时间</th>
            <th lay-data="{field:'qiTaYuE',align:'center'}" colspan="1">贷款余额（万元）</th>
            <th lay-data="{field:'qiTaYuQiJinE',align:'center'}" colspan="1">逾期贷款金额</th>
            <th lay-data="{field:'qiTaYuQiShiJian',align:'center'}" colspan="1">贷款逾期时间</th>
            <th lay-data="{field:'qiTaQianXiJinE',align:'center'}" colspan="1">欠息金额(元)</th>
            <th lay-data="{field:'qiTaQianXiShiJian',align:'center'}" colspan="1">欠息时间</th>
            <th lay-data="{field:'qiTaYongTu',align:'center'}" colspan="1">贷款用途</th>
            <th lay-data="{field:'note',align:'center'}" colspan="1">备注</th>
            <th lay-data="{fixed: 'right',title:'操作', width:150, align:'center', toolbar: '#barDemo'}">操作</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    layui.use(['table','form'], function(){
        var table = layui.table;
        var form = layui.form;
        //监听提交
        form.on('submit(tj)', function(data){
            alert(1);
            //这里以搜索为例
            table.reload('mytable',{
                url:'/fpxexd/findFpxexdWhere',
                method:'post',
                where: { //设定异步数据接口的额外参数，任意设
                    xiang:data.field['xiang'],
                    chun:data.field['chun'],
                    name:data.field['name'],
                    cardId:data.field['cardId']
                }
            });
            return false;
        });
        //监听工具条
        table.on('tool(mytable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'detail'){ //查看
                console.log(data);
                alert("查看的编号:"+data['no']);
                // window.location.href='/fields';
                window.location.href='/fpxexd/findByNo?no='+data['no'];
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    alert(index);
                    //向服务端发送删除指令
                    $.ajax({
                        url:"/fpxexd/delByNo?no="+data['no'],
                        async:true,
                        type:"get",
                        success:function(result){
                            layui.use('layer', function(){
                                var layer = layui.layer;
                                layer.msg(result);
                                table.reload('mytable', {});
                            });
                        }
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                alert("编辑的贷款人身份证号码:"+data['no']);
                window.location.href='/fpxexd/findByNo?no='+data['no']+"&cz=update";
            }
        });
    });
</script>
<!--查看删除模板-->
<script type="text/html" id="barDemo">
    <button class="layui-btn layui-btn-xs" lay-event="detail">查看</button>
    <button class="layui-btn layui-btn-xs" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</button>
</script>
</body>
</html>