@CHARSET "UTF-8";

.container {
	background-color: #cccc99;	
}

.banner {
	width:100%;
	height:90px;
	background:#FFF;
}

.bannerLeft {
	float:left;
	height:90px;
	1border:1px solid red;
}

.bannerRight {
	float:right;
	height:90px;
	line-height:90px;
	1border:1px solid red;
}