<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>user</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <script src="/static/js/jquery2.1.1.min.js" charset="utf-8"></script>
    <style type="text/css">
        #but_left{
            float: left;
            height: 70px;
        }
        #but_right{
            float: right;
        }
        .layui-table,.main_div{
            width: 100%;
        }
        #search_div{
            /*margin-left: 20px;*/
            border-radius: 5px;
            /*border: 1px solid transparent;*/
            width: auto;
            max-width: 239px;
            height: 30px;
        }
        #user_search{
            float: left;
        }
        #search_input{
            float: left;
            border: none;
            height: 30px;
            /*width: 200px;*/
            width: 0px;
            padding: 0px;
            margin: 0px auto;
            /*display: none;*/
        }
        #search_choose_div{
            margin: 0px;
            opacity: 0;
        }
        .clear{
            clear:both;
        }
    </style>
</head>
<body>

<div class="main_div">
    <div id="but_left">
        <div id="search_div">
            <input type="text" name="title" autocomplete="off" placeholder="请输入" id="search_input">

            <button class="layui-btn layui-btn-sm layui-btn-normal" id="user_search">
                <i class="layui-icon layui-icon-search"></i>
            </button>
        </div>

        <div class="layui-form">
            <div id="search_choose_div" class="layui-input-block">
                <input type="radio" name="column" value="loginName" title="登录名" checked="">
                <input type="radio" name="column" value="name" title="真实姓名">
                <input type="radio" name="column" value="type" title="数据维护单位">
                <input type="radio" name="column" value="role" title="用户角色">
                <input type="radio" name="column" value="mobile" title="手机号码">
                <input type="radio" name="column" value="weiXinOpenId" title="微信OpenID">
                <input type="radio" name="column" value="valid" title="是否有效">
            </div>
        </div>
    </div>
    <div id="but_right">
        <button class="layui-btn layui-btn-sm layui-btn-normal" id="user_add">
            <i class="layui-icon layui-icon-add-1"></i>
        </button>
        <button class="layui-btn layui-btn-sm layui-btn-normal" id="user_delete">
            <i class="layui-icon layui-icon-delete"></i>
        </button>
    </div>

    <div class="clear"></div>

    <table class="layui-table" lay-data="{ url:'/user/getUser', page: true, limit: 10, limits:[10], id: 'userTable'}" lay-filter="userTable">
        <thead>
        <tr>
            <th lay-data="{checkbox:true, fixed:'left'}" rowspan="1"></th>
            <th lay-data="{field:'uid',hidden:true}" rowspan="1">uid</th>
            <th lay-data="{field:'loginName'}" rowspan="1">登录名</th>
            <th lay-data="{field:'name'}" rowspan="1">真实姓名</th>
            <!--<th lay-data="{field:'type' hidden}" rowspan="1">用户类型</th>-->
            <th lay-data="{field:'type'}" rowspan="1">数据维护单位</th>
            <th lay-data="{field:'role'}" rowspan="1">用户角色</th>
            <th lay-data="{field:'mobile'}" rowspan="1">手机号码</th>
            <th lay-data="{field:'weiXinOpenId'}" rowspan="1">微信OpenID</th>
            <th lay-data="{field:'valid'}" rowspan="1">是否有效</th>
            <th lay-data="{fixed: 'right', width: 160, align: 'center', toolbar: '#barDemo'}" rowspan="2">操作</th>
        </tr>
        </thead>
    </table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">
        <i class="layui-icon layui-icon-edit"></i>
    </a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i>
    </a>
</script>

<script>
    var table;
    layui.use('table', function(){
        table = layui.table;

        table.on('tool(userTable)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                parent.layer.confirm('真的删除行么', function(index){

                    var str = "";
                    str += "," + data.uid;
                    $.post("/user/delUser",{
                        "value" : str
                    },function(result){
                        parent.layer.msg(result, {
                            time: 5000, //20s后自动关闭
                            btn: ['哦']
                        });
                        obj.del();
                        parent.layer.close(index);
                    });

                });
            } else if(obj.event === 'edit'){
//                layer.alert('编辑行：<br>'+ JSON.stringify(data))

                var str = "uid="+data.uid+"&loginName="+data.loginName+"&pwd="+data.pwd+"&name="+data.name
                    +"&type="+data.type+"&role="+data.role+"&mobile="+data.mobile+"&weiXinOpenId="+data.weiXinOpenId+"&valid="+data.valid;
//console.log(str)
                var x = true;
                parent.layer.open({
                    type : 2 ,
                    area : ["380px", "560px"] ,
                    title : "修改用户" ,
                    anim: 1 ,
//                    resize : false ,
                    moveOut:true,
                    content : ['/user/addUser?'+str,"no"],
                    end : function () {
                        if(x) {
                            table.reload('userTable');
                        }else {
                            x = true;
                        }
                    },
                    cancel : function () {
                        x = false;
                    }
                });
            }
        });
    });

    $("#user_search").click(function () {
        $("#search_input").animate({
            "padding-left": "10px",
            "width": "190px"
        },"normal", function () {
            $("#search_choose_div").animate({
                "opacity": "1"
            },"normal");
        });
        $("#search_div").css({"border":"1px solid #1E9FFF"});

        //点出搜索框之后改变点击事件
        $(this).click(function () {
            var value = $("#search_input").val();
            var column = $("#search_choose_div input:checked").val();
            if (value){
                table.reload('userTable', {
                    url: '/user/searchUser?value='+value+"&column="+column
                });
            }else {
                table.reload('userTable',{
                    url:"/user/getUser"
                });
            }
        });
    });
//    var layer;
//    layui.use('layer', function(){
//        layer = layui.layer;
//
//    });

    $("#user_add").click(function () {
        var x = true;
        parent.layer.open({
            type : 2 ,
            area : ["380px", "560px"] ,
            title : "添加用户" ,
            anim: 1 ,
            skin : "layui-layer-molv" ,
//            resize : false ,
            moveOut:true,
            content : ['/user/addUser',"no"],
            end : function () {
                if(x) {
                    table.reload('userTable');
                }else {
                    x = true;
                }
            },
            cancel : function () {
                x = false;
            }
        });
    });


    $("#user_delete").click(function () {
        var checkStatus = table.checkStatus('userTable')
        var tableData = checkStatus.data;
        if (tableData.length > 0) {
            parent.layer.confirm('确认要删除这个' + tableData.length + '用户吗？', {
                btn: ['确定', '取消']//按钮
            }, function (index) {
                var str = "";
                for (var i = 0; i < tableData.length; i++){
                    str += "," + tableData[i].uid;
                }
//console.log(str)
                $.post("/user/delUser",{
                    "value" : str
                },function(result){
                    parent.layer.msg(result, {
                        time: 5000, //20s后自动关闭
                        btn: ['哦']
                    });
                    parent.layer.close(index);
                    table.reload('userTable');
                });
            });
        }else {
            parent.layer.confirm('请勾选要删除的用户！', {
                btn: ['确定']//按钮
            });
        }
    });


</script>

</body>
</html>